
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200;1,300&display=swap');

body{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

#container {
    border: 1px dashed #606060;
    border-radius: 15px;
    margin: 10px 10px;
    /* height: 630px; */
    padding: 10px;
    background-color: rgb(70, 180, 103);
}

#header {
    border: 1px dashed #606060;
    height: 170px;
    background-color: salmon;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#header h1 {
    border: 1px dashed #606060;
    text-transform: capitalize;
    margin-top: 0px;
    padding-left: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 30px;
    color: #fff;
}

.fas .fa-shopping-cart{
    color: #fff;
    font-weight: 150px;
    font-size: 10px;
}

#clear-btn{
    width : 30px;
    height: 30px;
    position: absolute;
    right:35px;
    top: 30px;
}
#clear-btn i{
    font-size: 30px;
    color: #FFF;
}
#clear-btn i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

#date {
    border: 1px dashed #606060;
    padding: 5px;
    height: 30px;
    margin-top:65px;
}

#date > p {
    border: 1px dashed #606060;
    margin-top: 2px;
    font-size: 16pt;
}

#content {
    border: 1px dashed #606060;
    height: 380px;
    padding: 5px;
    overflow: auto;
    background-color: skyblue;
}

#list {
    border: 1px dashed #606060;
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
}

.list-item {
    /* border: 1px dashed #606060; */
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #606060;
    text-transform: capitalize;

}

#footer-cont {
    border: 1px dashed #606060;
    padding: 5px;
    height: 50px;
    background-color: salmon;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#plus {
    border: 1px dashed #606060;
    font-size: 25pt;
    font-weight: bold;
    color: #fff;
    /* width: 100px;
    height: 30px; */
    margin-top: 10px;
    margin-left: 20px;
    background-color: salmon;
}

#add-input {
    position: absolute;
    left: 100px;
    bottom:100px;
    height: 35px;
    width: 270px;
    background-color: #fff;
    border: none;
    font-size: 20px;
    padding-left:10px;
    text-transform: capitalize;
}

#copyright {
    text-align: center;
    font-size: 15pt;
    color: #fff;
    font-weight: 200px;
}

/* footer{
    border: 1px dashed #606060;
    padding: 5px;
    margin: -30px 10px;
    background-color: salmon;
}

footer > p {
    border: 1px dashed #606060;
    text-align: center;
    margin-top: 0px;
} */