
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200;1,300&display=swap');


*{
    list-style: none;
}

body{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    background-image: url("../image/bg-medium.jpg");
    object-fit: cover;
    background-position: 100%;

}
/* CONTAINER ////////////////////////////////////////////////////////////////////////*/
#container {
    /* border: 1px dashed #606060; */
    border-radius: 15px;
    margin: 10px 10px;
    /* height: 630px; */
    padding: 10px;
    background-color: rgba(0, 0, 0, .7);
    /* background-color:rgba(0, 128, 0, 0.767); */
    /* background-color: #000; */
    
}


/* HEADER ///////////////////////////////////////////////////////////////////////////*/
#header {
    /* border: 1px dashed #606060; */
    height: 170px;
    /* background-color: salmon; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("../image/bg4.jpg"); 
    object-fit: cover;
    background-position:50% 50%;
    background-size: 100%;
}

#header h1 {
    /* border: 1px dashed #606060; */
    text-transform: capitalize;
    margin-top: 0px;
    padding-left: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
}

.fas .fa-shopping-cart{
    color: #fff;
    font-weight: 150px;
    font-size: 10px;
}

#clear-btn{
    width : 30px;
    height: 30px;
    position: absolute;
    right:35px;
    top: 30px;
}
#clear-btn i{
    font-size: 30px;
    color: #FFF;
}
#clear-btn i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

.date {
    /* border: 1px dashed #606060; */
    padding: 5px;
    height: 30px;
    margin-top:65px;
}

#date{
    /* border: 1px dashed #606060; */
    width: 100%;
    margin-top: 22px;
    margin-left: -5px;
    padding-left: 10px;
    font-size: 16pt;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-weight: bold;
}



/* CONTENT ////////////////////////////////////////////////////////////////////////*/
#content {
    /* border: 1px dashed #606060; */
    height: 380px;
    padding: 5px;
    overflow: auto;
    /* background-color: skyblue; */
    background-color: #fff;
    margin-bottom: 0px;
}

#list {
    /* border: 1px dashed #606060; */
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
}

.list-item {
    /* border: 1px dashed #606060; */
    position: relative;
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #606060;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(1,1, 1);
    
}

.text {
    /* border: 2px dashed black; */
    color:#000 !important;
    position: absolute;
    padding:0;
    margin:0;
    font-size: 22px;
    left:65px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}

 .fa-circle:before {
     /* border: 2px dashed black; */
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}

.fa-circle:hover {
    cursor: pointer;
}


.fa-check-circle:before {
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color: rgba(11, 155, 35, 0.835);
}

.fa-check-circle:hover{
    cursor: pointer;
}

.fa-trash-alt:before {
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
    
}

.fa-trash-alt:hover {
    color: rgb(245, 16, 16);
    cursor: pointer;
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc !important;
}

/* ADD FOOTER /////////////////////////////////////////////////////////////////////////*/
#footer-cont {
    /* border: 1px dashed #606060; */
    padding: 10px;
    height: 50px;
    /* background-color: salmon; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: url("../image/bg4.jpg"); 
    object-fit: cover;
    background-position:50% 50%;
    background-size: 100%;
}

#pencil {
    /* border: 1px dashed #606060; */
    font-size: 25pt;
    font-weight: bold;
    color: #fff;
    /* width: 100px;
    height: 30px; */
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    
}

#add-input {
    /* position: absolute; */
    /* left: 100px;
    bottom:108px; */
    height: 35px;
    width: 270px;
    background-color: #fff;
    border: none;
    font-size: 20px;
    padding-left:10px;
    text-transform: capitalize;
    margin: 0;
}



/* FOOTER/////////////////////////////////////////////////////////////////////////////*/
#copyright {
    text-align: center;
    font-size: 15pt;
    color: #fff;
    font-weight: 200px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
